<p><LinkTo @route="application">Home</LinkTo></p>
<p><LinkTo @route="foo">Visit Lazy Foo Route</LinkTo></p>
<p><LinkTo @route="bar">Visit Lazy Bar Route</LinkTo></p>
<p><LinkTo @route="my-engine.foobar">Visit Lazy Engine</LinkTo></p>

{{outlet}}